name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]  # Cambia a 'master' si tu rama principal se llama así
  workflow_dispatch:  # Permite ejecutarlo manualmente

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Vite Github Pages Deployer
        uses: skywarth/vite-github-pages-deployer@v1.5.0
        with:
          public_base_path: /vanilla_alpha  # ¡Importante! Nombre de tu repo
          build_path: ./dist
          install_phase_node_env: dev
          build_phase_node_env: production
          package_manager: npm
          artifact_name: github-pages
          debug_mode: false
          working_path: ./
